<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./footer.component.css" type="text/css" rel="stylesheet" />
  <title>CALCULADORA</title>
</head>

<body>

  <div class="centrar">

    <footer>
      Posted by : Hernán Costarelli - © Todos los derechos reservados - 2022<br />
      Correo : <a href="hernancostarelli@hotmail.com">
        hernancostarelli@hotmail.com</a> -
      Teléfono: (0261) - 4706825
    </footer>

  </div>

</body>

</html>
